body{
    background-color: grey;
    color: black;

}
.form{
    max-height: 100vh;
    align-content: center;
    background-color: grey;
    color: black;
    border: 1px solid grey;
    max-width: 600px;
}
input{
    min-width: 473px;
    padding: 10px;
    margin: 20px;

}
.info{
    background-color: grey;
    color: black; 
    max-width: 600px;
}

.submit{
    min-width: 473px;
    padding: 10px;
    margin: 20px;  
}
.delete{
    min-width: 20%;
    padding: 5px;
}